body{
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    min-height: 100vh;
  }

.roboto-regular {
    font-weight: 400;
    font-style: normal;
  }

.roboto-thin {
    font-size: 18px;
    color: #E5E7EB;

}

.hero-main{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}
.header-logo-text{ 
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;

}
.header{
    flex : 1 ;
    display: flex;
    background-color: #1F2937;
    color: white;
    font-family: 'Roboto';
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    align-items: center;
}

.content{
    background-color : blanchedalmond;
    flex : 100;
    display : flex ; 
    flex-direction: column;

}

.sec1 , .sec2 ,.sec3 ,.sec4 {
    flex : 1
}

.sec1{
    background-color: #1F2937;
    display: flex;
    padding-left: 150px;
    padding-right: 150px;
    align-items: center;
    gap : 32px;
}


.right{
    flex : 1;
    height: 100px;
    width: 100px;
}

.left{
    flex : 1;
}

.sec2{
    background-color: rgb(18, 127, 223);
}
.sec3{
    background-color: rgb(66, 30, 52);
}
.sec4{
    background-color: rgb(146, 111, 45);
}
li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
}

.links{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.footer{
    flex : 1 ; 
    display: flex;
    background-color: #1F2937;
    color: white;
    font-family: 'Roboto';
    justify-content: space-evenly;
    padding: 10px;
    align-items: center;
}

h2{
    margin: 10px;
}

ul{
    margin: 10px;
}

p{
    margin: 0;
}